// Body
html {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: grey !important;
    height: 100%;
}

.scrollbox {
    border: 1px solid $scroll_border;
    width: $scroll_width;
    height: $scroll_height;
    background: $scroll_back;
    overflow-y: scroll;

    div.odd {
        background: $scroll_odd;
    }

    // div.even {
    //     background: #E4EEF7;
    // }
}

div#app {
    background-color: grey !important;
    height: 100%;
    .py-4 {
        min-height: calc(100% - 115px);
    }
}

nav#title-bar {
    background-color: $title_back;
    padding-top: 0;
    padding-bottom: 0;
}

div#footer {
    height: 75px;
    background-color: $title_back;
}

a.tc-white {
    color: $white_normal !important;
}

a.tc-white:hover,
a.tc-white:focus {
    color: $white_focus !important;
}

/*
* Liast Box Ascending and Descending
*/
a.order {
    text-decoration: none;
    padding-right: 15px;
    color: initial;
}
a.asc{    
    background: url(../images/asc.png) right center no-repeat;    
}
a.desc{    
    background: url(../images/desc.png) right center no-repeat;    
}

.nav-link.active {
    background-color: $red;
    color: $white_focus !important;
}

span.required {
    color: $red;
    font-weight: bold;
}


// Table StyleSheet adjust
.table {
    thead th, tbody td, tbody th{
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
}

button.left_margin {
    margin-left: 39px;
}

.home-page {
    .notification-panel, .overview-panel {
        border: 1px solid $home_panel_border_color;       
    }    

    .notification-header, .overview-header {
        background-color: $home_panel_header_bg_color;        
    }
}

.panel {
    table thead th {
        background-color: $panel_table_header_bg_color;
    }
}
