// Body
body {
    background-color: grey !important;
}

.scrollbox {
    border: 1px solid $scroll_border;
    width: $scroll_width;
    height: $scroll_height;
    background: $scroll_back;
    overflow-y: scroll;

    div.odd {
        background: $scroll_odd;
    }

    // div.even {
    //     background: #E4EEF7;
    // }
}

div#app {
    background-color: grey !important;
  }

  nav#title-bar {
    background-color: $title_back !important;
  }

  a.tc-white {
    color: $white_normal !important;
  }

  a.tc-white:hover,
  a.tc-white:focus {
    color: $white_focus !important;
  }

  .nav-link.active {
      background-color: $red;
      color: $white_focus !important;
  }

  span.required {
    color: $red;
    font-weight: bold;
  }
